main section#signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: 5px;
    padding: 10px;
    width: 300px;
    box-shadow: 5px 5px 20px 2px rgb(64, 1, 77);
}

main section#signup h1 {
    color: black;
    margin: 5px;
    padding: 10px;
    text-align: center;
}

section#signup #errors {
    padding: 10px;
    background-color: rgb(199, 41, 41);
    color: white;
}

section#signup form {
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

section#signup form input {
    margin: 7px;
    padding: 10px;
    width: 75%;
    border: none;
    font-size: 16px;
    background-color: rgb(235, 235, 235);
}

section#signup form input[type="submit"] {
    background-color: rgb(51, 134, 193);
    color: white;
    font-size: 16px;
}

@media all and (max-width: 400px) {
    main section#signup {
        width: 200px;
    }
}