main section#forgot-password {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: 5px;
    padding: 10px;
    width: 300px;
    box-shadow: 5px 5px 20px 2px rgb(64, 1, 77);
}

main section#forgot-password h1 {
    color: black;
    margin: 5px;
    padding: 10px;
    text-align: center;
}

section#forgot-password #message {
    padding: 10px;
    background-color: rgb(8, 175, 128);
    color: black;
}

section#forgot-password form {
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

section#forgot-password form input {
    margin: 10px;
    padding: 10px;
    width: 75%;
    border: none;
    font-size: 16px;
    background-color: rgb(235, 235, 235);
}

section#forgot-password form input[type="submit"] {
    background-color: rgb(51, 134, 193);
    color: white;
    font-size: 16px;
}

@media all and (max-width: 400px) {
    main section#forgot-password {
        width: 200px;
    }
}