.receiptList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    width: 80%;
    padding: 10px;
    box-shadow: 5px 5px 20px 2px rgb(64, 1, 77);
}

.message {
    padding: 10px;
    background-color: rgb(8, 175, 128);
    color: black;
    text-align: center;
}

.receiptList input {
    margin: 10px;
    padding: 10px;
    width: 50%;
    border: none;
    font-size: 16px;
    background-color: rgb(235, 235, 235);
}

.expenses {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color:rgb(235, 235, 235);
    margin-bottom: 10px;
}

.expenseCategory {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
}

.expenseCategory h4 {
    word-wrap: break-word;
    width: 200px;
}

.buttons {
    color: white;
}

.blue {
    background-color: rgb(51, 134, 193);
    text-align: center;
    font-size: 16px;
    border: none;
    padding: 10px;
    color: white;
    margin: 5px;
}

.blue:hover, .blueActive {
    background-color: rgb(30, 104, 156);
}

.receiptList table {
    border: 2px solid black;
    border-radius: 10px;
}

.receiptList table td {
    padding: 5px;
}

.receiptList table thead {
    background-color: rgb(196, 196, 196);
}

.receiptList table th {
    padding: 2px;
}

.receiptList table th.active.false::after {
    /* Table header sorted by ascending = false */
    content: "\25bc";
}

.receiptList table th.active.true::after {
    /* Table header sorted by ascending = true */
    content: "\25b2";
}

.receiptList table tbody tr:nth-child(odd) {
    background-color: rgb(235, 235 ,235);
}

@media all and (max-width: 790px) {
    .receiptList table, .receiptList thead, 
    .receiptList tbody, .receiptList th, 
    .receiptList td, .receiptList tr {
        display: block;
    }

    .receiptList table {
        width: 100%;
    }

    .receiptList td {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        border: none;
        border-bottom: 1px solid #ccc;
        position: relative;
        padding-left: 50%;
    }

    .receiptList td:before {
        position: relative;
        top: 0px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
    }

    .receiptList td:nth-of-type(1):before { content: "Transaction Date:"; }
	.receiptList td:nth-of-type(2):before { content: "Provider:"; }
	.receiptList td:nth-of-type(3):before { content: "Description:"; }
	.receiptList td:nth-of-type(4):before { content: "Qualified Expense:"; }
	.receiptList td:nth-of-type(5):before { content: "Amount:"; }
	.receiptList td:nth-of-type(6):before { content: "Payment Method:"; }
	.receiptList td:nth-of-type(7):before { content: "Reimbursed:"; }
}

@media all and (max-width: 600px) {
    .expenses {
        flex-direction: column;
    }
}

@media all and (max-width: 300px) {
    .receiptList td {
        display: block;
    }
}