.receiptList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    width: 80%;
    padding: 10px;
    box-shadow: 5px 5px 20px 2px rgb(64, 1, 77);
}

.message {
    padding: 10px;
    background-color: rgb(8, 175, 128);
    color: black;
    text-align: center;
}

.receiptList input {
    margin: 10px;
    padding: 10px;
    width: 50%;
    border: none;
    font-size: 16px;
    background-color: rgb(235, 235, 235);
}

.expenses {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color:rgb(235, 235, 235);
    margin-bottom: 10px;
}

.expenseCategory {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
}

.expenseCategory h4 {
    word-wrap: break-word;
    width: 200px;
}

.buttons {
    color: white;
}

.blue {
    background-color: rgb(51, 134, 193);
    text-align: center;
    font-size: 16px;
    border: none;
    padding: 10px;
    color: white;
    margin: 5px;
}

.blue:hover {
    background-color: rgb(30, 104, 156);
}

.receiptList table {
    border: 2px solid black;
    border-radius: 10px;
}

.receiptList table td {
    padding: 5px;
}

.receiptList table thead {
    background-color: rgb(196, 196, 196);
}

.receiptList table th {
    padding: 2px;
}

.receiptList table th.active.false::after {
    /* Table header sorted by ascending = false */
    content: "\25bc";
}

.receiptList table th.active.true::after {
    /* Table header sorted by ascending = true */
    content: "\25b2";
}

.receiptList table tbody tr:nth-child(odd) {
    background-color: rgb(235, 235 ,235);
}


@media all and (max-width: 600px) {
    .expenses {
        flex-direction: column;
    }
}