main#receipt-list {
    width: 80%;
}

main#receipt-list section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    width: 100%;
    padding: 10px;
    box-shadow: 5px 5px 20px 2px rgb(64, 1, 77);
}

main#receipt-list section .message {
    padding: 10px;
    background-color: rgb(8, 175, 128);
    color: black;
    text-align: center;
}

main#receipt-list section input {
    margin: 10px;
    padding: 10px;
    width: 50%;
    border: none;
    font-size: 16px;
    background-color: rgb(235, 235, 235);
}

div.expenses {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color:rgb(235, 235, 235);
    margin-bottom: 10px;
}

div.expenses h4 {
    word-wrap: break-word;
    width: 200px;
}

div.expenses div.expense-category {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
}

main#receipt-list section div.buttons {
    color: white;
}

table#receipt-list-table {
    border: 2px solid black;
    border-radius: 10px;
}

table#receipt-list-table td {
    padding: 5px;
}

table#receipt-list-table thead {
    background-color: rgb(196, 196, 196);
}

table#receipt-list-table th {
    padding: 2px;
}

table#receipt-list-table th.active.false::after {
    /* Table header sorted by ascending = false */
    content: "\25bc";
}

table#receipt-list-table th.active.true::after {
    /* Table header sorted by ascending = true */
    content: "\25b2";
}

table#receipt-list-table tbody tr:nth-child(odd) {
    background-color: rgb(235, 235 ,235);
}


@media all and (max-width: 600px) {
    div.expenses {
        flex-direction: column;
    }
}