/* Styling for navbar on wide screen (laptop, desktop, etc.) */

.navbar {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navbar a, .navbar button {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

.navbar button {
    border: none;
    background: none;
}

.navbar a:not(.home):hover,
.navbar button:hover {
    background-color: rgb(213, 176, 212);
    color: black;
}

.navbar .icon {
    display: none;
}

/* Styling for mobile navbar */

@media screen and (max-width: 735px) {

    /* Styling for when mobile navbar is collapsed */

    .mainLinks,
    .navbar button {
        display: none;
    }

    .navbar .icon {
        display: block;
    }

    /* Styling for when mobile navbar is expanded */

    .responsive {
        flex-direction: column;
        align-items: flex-start;
        background-color:rgb(68, 2, 82);
    }

    .responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .responsive > a:first-child {
        width: 84%;
    }

    .responsive > a:last-child {
        width: 3%;
    }

    .responsive .mainLinks,
    .responsive button {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        float: none;
        width: 100%;
    }

    .responsive .mainLinks a {
        width: 100%;
    }

    .responsive button {
        background-color:rgb(68, 2, 82);
        text-align: left;
    }

    .responsive button:hover {
        background-color: rgb(213, 176, 212);
        color: black;
    }
}