.navbar {
    overflow: hidden;
    background-color: rgb(104, 2, 124);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.navbar a, .navbar button {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}

.navbar button {
    border: none;
    background-color: rgb(104, 2, 124);
}

.navbar a:not(:first-child):hover,
.navbar button:hover {
    background-color: rgb(213, 176, 212);
    color: black;
}

.navbar a.icon {
    display: none;
}

@media screen and (max-width: 600px) {    
    .navbar {
        justify-content: space-between;
    }
    
    .navbar a:not(:first-child), .navbar button {
        display: none;
    }

    .navbar a.icon {
        display: block;
    }

    .navbar.responsive {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .navbar.responsive a,
    .navbar.responsive button {
        display: block;
        float: none;
    }

    .navbar.responsive a:first-child {
        width: 84%;
    }

    .navbar.responsive a:last-child {
        width: 3%;
    }

    .responsive a:not(:first-child),
    .responsive a:not(:last-child),
    .navbar button {
        width: 100%;
    }

    .navbar button {
        text-align: left;
    }
}