.receiptForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    width: 80%;
    padding: 10px;
    box-shadow: 5px 5px 20px 2px rgb(64, 1, 77);
}

.receiptForm h1 {
    color: black;
    margin: 5px;
    padding: 10px;
    text-align: center;
}

.receiptForm form {
    margin: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.fields {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;   
}

.labelAndInput {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.receiptForm form input {
    margin: 5px;
    padding: 10px;
    border: none;
    font-size: 16px;
    background-color: rgb(235, 235, 235);
}

.receiptForm form input[type="date"] {
    font-family: 'Work Sans', sans-serif;
    min-width: 150px;
}

.receiptForm form input[type="submit"] {
    font-family: 'Work Sans', sans-serif;
    background: rgb(51, 134, 193);
    color: white;
    font-size: 16px;
}

.receiptForm form select {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: rgb(235, 235, 235);
}

.images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.imageCard {
    margin: 15px;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imageCard img {
    width: 100%;
}

/* Color actual buttons for different browsers */
/* Courtesy of Stokely: https://stackoverflow.com/a/65865799/11860889 */

/* Chrome and Edge */
::-webkit-file-upload-button {
    border: none;
    padding: 10px;
    background: rgb(51, 134, 193);
    color: white;
    font-size: 16px;
}

/* Firefox */
::file-selector-button {
    border: none;
    padding: 10px;
    background: rgb(51, 134, 193);
    color: white;
    font-size: 16px;
}

/* IE */
::-ms-browse {
    border: none;
    padding: 10px;
    background: rgb(51, 134, 193);
    color: white;
    font-size: 16px;
}

@media all and (max-width: 720px) {
    .receiptForm form {
        flex-direction: column;
    }
}

@media all and (max-width: 650px) {
    .labelAndInput {
        flex-direction: column;
    }
    
    .images {
        flex-direction: column;
    }

    .imageCard {
        width: 80%;
    }
}

@media all and (max-width: 470px) {
    .labelAndInput {
        flex-direction: column;
        justify-content: center;
    }
}