body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    background-color: rgb(104, 2, 124);
    color: white;
}

.button {
    text-decoration: none;
}

.red {
    background-color: rgb(199, 41, 41);
    text-align: center;
    font-size: 16px;
    border: none;
    padding: 10px;
    color: white;
}

.red:hover {
    background-color: rgb(161, 41, 41);
}

.blue {
    background-color: rgb(51, 134, 193);
    text-align: center;
    font-size: 16px;
    border: none;
    padding: 10px;
    color: white;
}

.blue:hover {
    background-color: rgb(30, 104, 156);
}

.white {
    background-color: white;
    text-align: center;
    font-size: 16px;
    border: none;
    padding: 10px;
    color: black;
}

.white:hover {
    background-color: rgb(235, 235, 235);
}